@import '../../../scss/base';

.fixture {
	display: flex;
	width: 90%;
	align-items: center;
	border: 1px solid $light-border-color;
	border-top: none;
	background: $secondary-bg-color;
	cursor: pointer;
	&:hover {
		box-shadow: $base-box-shadow;
		background: linear-gradient(
			190deg,
			rgba(151, 60, 255, 1) 40%,
			rgba(255, 48, 250, 1)
		);
		color: $text-color-white;

		.inprogress-circle {
			background: $secondary-bg-color;
		}

		.half-time {
			color: $text-color-white;
		}
	}
}

.team,
.club-logo,
.score {
	display: inline-block;
}

.club-logo,
.score {
	text-align: center;
}

.team {
	width: 30%;
}

.club-logo {
	width: 10%;

	img {
		width: 25px;
		height: 25px;
	}
}

.score {
	position: relative;
	width: 20%;

	.half-time {
		width: 50px;
		height: 3px;
		font-size: 8.5px;
		color: $releg-color;
		position: absolute;
		top: -10px;
		right: 50%;
		transform: translate(50%, -50%);
	}
}

.home {
	text-align: right;
}

.away {
	text-align: left;
}
