@import '../../scss/base';

.loading-box {
	@include flex-center;
	min-height: 500px;
}

.standing__preview {
	@include mobile {
		padding: 0 8px;
	}

	&-heading {
		width: 100%;
		padding: 15px 0;
		color: $text-color-dark;
		background: $secondary-bg-color;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		border-bottom: 1px solid $light-border-color;
	}

	.club {
		border: 1px solid $light-border-color;
		border-top: none;
		display: flex;
		align-items: center;
		background: $secondary-bg-color;
		cursor: pointer;
		&:hover {
			box-shadow: $base-box-shadow;
			background: $header-bg-color;
			color: $text-color-white;
		}
		&:last-child {
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}

	.club__position,
	.club__logo,
	.club__name,
	.club__games,
	.club__goals-difference,
	.club__points {
		display: inline-block;
		text-align: center;
	}

	.club__name {
		width: 45%;
		text-align: left;
	}

	.club__logo {
		width: 15%;
	}

	.club__position,
	.club__games,
	.club__goals-difference,
	.club__points {
		width: 10%;
	}

	.ucl-zone {
		border-bottom: 2px solid $ucl-color;
	}

	.relegation-zone {
		border-bottom: 2px solid $releg-color;
	}

	&-buttons {
		display: flex;
		justify-content: space-between;
		background: $secondary-bg-color;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;

		button {
			background: none;
			color: $text-color-dark;
			border: none;
			margin: 10px;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				transform: scale(1.1);
			}

			.fa-arrow-right,
			.fa-arrow-left {
				font-size: 11px;
			}
		}
	}
}
