@import '../../../scss/base';

.content__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: $primary-bg-color;
	min-height: calc(100vh - 120px);

	.content-box {
		padding: 0 10px 25px 10px;

		@include mobile {
			padding: 0;
			padding-bottom: 15px;
		}
	}
}
