@import '../../../scss/base';

.single__player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 8px;
	border: 1px solid $light-border-color;
	border-top: none;
	background: $secondary-bg-color;
	cursor: pointer;

	&:last-child {
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}

	&:hover {
		box-shadow: $base-box-shadow;
		background: $hover-liner-gradient;
		color: $text-color-white;
		@include mobile {
			box-shadow: none;
			background: $secondary-bg-color;
			color: $text-color-dark;
		}
	}

	&-photo {
		width: 15%;

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			padding: 2px;
		}

		.fa-circle-user {
			color: $light-border-color;
			font-size: 36px;
			padding: 2px;
		}
	}

	&-info {
		width: 75%;

		span {
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
		}
	}

	&-number {
		width: 10%;
		text-align: center;
	}
}
