@import '../../../scss/base';

.single__player {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 8px;
	border: 1px solid $light-border-color;
	border-top: none;
	background: $secondary-bg-color;
	cursor: pointer;

	&:last-child {
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
	}

	&:hover {
		box-shadow: $base-box-shadow;
		background: $hover-liner-gradient;
		color: $text-color-white;
		@include mobile {
			box-shadow: none;
			background: $secondary-bg-color;
			color: $text-color-dark;
		}
	}

	&-photo {
		@include flex-center;
		position: relative;
		margin-right: 5px;
		width: 15%;

		img {
			width: 42px;
			height: 42px;
			border-radius: 50%;
			padding: 2px;
			border: 1px solid $light-border-color;
		}

		.fa-circle-user {
			color: $light-border-color;
			font-size: 36px;
			padding: 2px;
		}

		.flag {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			position: absolute;
			top: 95%;
			right: 50%;
			transform: translate(50%, -50%);
			border: 1px solid $light-border-color;
		}

		.england {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Feng.png?alt=media&token=4f5df577-6f0d-4fea-b82c-23e07ec3e48c)
				no-repeat center/cover;
		}

		.brazil {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fbr.png?alt=media&token=82453af0-6f13-4404-a4bb-a25aeea16ac4)
				no-repeat center/cover;
		}

		.spain {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fesp.png?alt=media&token=19b6708e-c962-4b04-843f-4a95e0d1a28b)
				no-repeat center/cover;
		}

		.ireland {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fir.png?alt=media&token=45cf7048-36bf-49d7-a813-809b7d425a4a)
				no-repeat center/cover;
		}

		.netherlands {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fnl.png?alt=media&token=ecd2607d-71a3-40ef-8932-43aee340a30a)
				no-repeat center/cover;
		}

		.france {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Ffr.png?alt=media&token=bea829a7-cc3e-4e1f-ba89-324b60914c9e)
				no-repeat center/cover;
		}

		.greece {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fgr.png?alt=media&token=5daeafd1-c976-41dd-81d8-4f43cd764c4f)
				no-repeat center/cover;
		}

		.scotland {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fsco.png?alt=media&token=e8fd0611-9e21-4056-aeba-126167e6a8e6)
				no-repeat center/cover;
		}

		.cameroon {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fcm.png?alt=media&token=fb8c042c-5dd5-42a9-91d6-06bb95dba812)
				no-repeat center/cover;
		}

		.guinea {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fgui.png?alt=media&token=a8c06f47-1ea4-4e23-9583-a68b36a2241e)
				no-repeat center/cover;
		}

		.portugal {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fpt.png?alt=media&token=99325f36-e354-43d4-9a97-d249de55f04b)
				no-repeat center/cover;
		}

		.egypt {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Feg.png?alt=media&token=d77eefad-74cd-4eef-b127-156db475e2bd)
				no-repeat center/cover;
		}

		.colombia {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Fco.png?alt=media&token=78d6289f-13ba-4bf3-b996-5d64eb1199e1)
				no-repeat center/cover;
		}

		.uruguay {
			background: url(https://firebasestorage.googleapis.com/v0/b/pm-league-app.appspot.com/o/flags%2Furu.png?alt=media&token=b7bcc2f0-9568-403f-ba6e-a0e27918a818)
				no-repeat center/cover;
		}
	}

	&-info {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 75%;

		.player-name {
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
		}

		.player-nationality {
			font-weight: 400;
			font-size: 14px;
		}
	}

	&-number {
		width: 10%;
		text-align: center;
	}
}
