@import '../../../scss/base';

.nav-bar {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	background: $header-bg-color;
	height: 60px;
	@include flex-center;

	&-section {
		width: 100%;
		max-width: 1680px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $text-color-white;
		padding: 20px;
		margin: 0 auto;

		.logo {
			font-weight: bold;
			color: $text-color-white;
			display: flex;
			align-items: center;
			font-size: 24px;
			cursor: pointer;
		}

		.fa-bars,
		.fa-xmark {
			display: none;
			font-size: 32px;
			cursor: pointer;
			transition: 0.3s;

			@include mobile {
				display: block;
			}
		}
	}
}
