@import '../../../scss/base';

.fixture__date-container {
	width: 100%;
	background: $secondary-bg-color;
}

.fixture__date {
	border: 1px solid $light-border-color;
	border-top: none;
	&-info {
		text-align: center;
		padding: 10px 0;
		font-weight: 600;
	}
}
